<!-- display all users info-->
<h1>All Updated Users</h1>
<table class="table table-hover">
<tr>
<th scope="col">Id</th>
<th scope="col">Weight</th>
<th scope="col">Height</th>
<th scope="col">User Id</th>
<th scope="col">Created at</th>
</tr>
<% @bodies.each do |body| %>
<tr>
<td><%= body.id %></td>
<td><%= body.weight %></td>
<td><%= body.height %></td>
<td><%= body.user_id %></td>
<td><%= localize(body.created_at + 39600, :format => :long) %></td>
</tr>
<% end %>
</table>