<div class="d-flex flex-row banner3"><b><%= @title %></b></div>

<%= form_for @body do |f| %>
    <div class="field">
        <%= f.label :weight %><br />
        <%= f.text_field :weight %> kg
    </div>
    <div class="field">
        <%= f.label :height %><br />
        <%= f.text_field :height %> m
    </div>
   
    <div class="field">
        <%= f.label :date %><br />
        <%= f.datetime_select :date %> 
    </div>
    <div class="actions"><%= f.submit "Update" %></div>
<% end %>