<h1>Record your lastest body info here.</h1>
<p>Show how much you have done so far</p>

<%= form_for @body do |f| %>
    <div class="field">
        <%= f.label :weight %><br />
        <%= f.text_field :weight %> kg
    </div>
    <div class="field">
        <%= f.label :height %><br />
        <%= f.text_field :height %> m
    </div>
    <div class="actions"><%= f.submit "Update" %></div>
<% end %>