<!-- display all users info-->
<h1>All regiseted Users</h1>
<table class="table table-hover">
<tr>
<th scope="col">Id</th>
<th scope="col">Name</th>
<th scope="col">Email</th>
<th scope="col">City</th>
<th scope="col">Gender</th>
<th scope="col">Created at</th>
<th scope="col">Updated at</th>
</tr>
<% @users.each do |user| %>
<tr>
<td><%= user.id %></td>
<td><%= user.name %></td>
<td><%= user.email %></td>
<td><%= user.city %></td>
<td><%= user.gender %></td>
<td><%= localize(user.created_at + 39600, :format => :long) %></td>
<td><%= localize(user.updated_at + 39600, :format => :long) %></td>
</tr>
<% end %>
</table>

