<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <div class="alert alert-danger"><%= message %></div>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :"Profile Photo" %><br />
        <%= f.file_field :avatar %>
    </div>
    <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
    </div>
    <div class="field">
        <%= f.label :gender %><br />
        <%= f.text_field :gender %>
    </div>
    <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :city %>
    </div>
    <div class="field">
        <%= f.label :height %><br />
        <%= f.text_field :height %> m
    </div>
    <div class="field">
        <%= f.label :initial_weight %><br />
        <%= f.text_field :initial_weight %> kg
    </div>
    <div class="field">
        <%= f.label :goal %><br />
        <%= f.text_field :goal %> kg
    </div>
    <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
    </div>
    <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>