<h1><%= @title %></h1>
<p><%= @content %></p>


<!-- Logo -->
<!--<div class="d-flex justify-content-center">
    <%= image_tag('logos/logo.jpeg', :class => 'alogo p-3') %>
</div>-->
<!-- Banner -->
<!--<div class="d-flex flex-row banner"></div>-->
<!-- Cards -->
<div class="d-flex flex-row justify-content-around my-3 px-5 text-center flex-wrap">
    <div class="d-flex callOuts flex-column p-4 m-2 flex-fill">
    <%= image_tag('logos/bmi.jpeg', :class => 'd-block mx-auto', height:'200px') %>
    <h3>BMI calculator</h3>
    <p>Calculate your BMI, get know your health condition.</p>
    <a href="/bmi_calculator" class="btn btn-primary">Learn More</a>
    </div> 
    <div class="d-flex callOuts flex-column p-4 m-2 flex-fill">
    <%= image_tag('logos/body_measurement.jpeg', :class => 'd-block mx-auto', height:'200px') %>
    <h3>Body Measurement</h3>
    <p>Record and track your weight every single day.</p>
    <a href="/body_measurement_public" class="btn btn-primary">Learn More</a>
    </div> 
    <div class="d-flex callOuts flex-column p-4 m-2 flex-fill">
    <%= image_tag('logos/warriors_gallery.jpeg', :class => 'd-block mx-auto', height:'200px') %>
    <h3>Warriors Gallary</h3>
    <p>Share us your colorful life!</p>
    <a href="/warriors_gallery" class="btn btn-primary">Learn More</a>
    </div> 
</div>
<!-- Text and Image -->
<div class="d-flex flex-column flex-sm-row align-items-center px-2 px-sm-5 mb-3">
    <div class="w-25 mr-3">
       <%= image_tag('logos/healthlife.jpeg', :class => 'img-fluid') %> 
    </div>
    <div class="w-75 p-3">
        <h4>Title Section</h4>
        <p><%= @section %></p>
        <a href="#" class="btn btn-primary">Learn More</a>
    </div>
</div>
<!--<div class="d-flex flex-row flex-wrap">
    <div class="testBox">Test 1</div> 
    <div class="testBox">Test 2</div> 
    <div class="testBox">Test 3</div>
    <div class="testBox">Test 3</div> 
    <div class="testBox">Test 3</div> 
    <div class="testBox">Test 3</div>  
    <div class="testBox">Test 3</div> 
    <div class="testBox">Test 3</div> 
    <div class="testBox">Test 3</div> 
    <div class="testBox">Test 3</div>
    <div class="testBox">Test 3</div>  
    <div class="testBox">Test 3</div> 
    <div class="testBox">Test 3</div> 
    <div class="testBox">Test 3</div> 
</div>-->
<!-- bottom -->
<div class="d-flex bottomArea p-3">
    <div class="w-60">
    <%= image_tag('logos/logo.jpeg', :class => 'img-fluid h-25') %> 
    <h5>About Us</h5>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="d-flex flex-column mt-3 ml-5">
        <h5>Contact Us</h5>
        <div>123 Carlingford Road</div>
        <div>555-55555</div>
        <div>chenhe@gmail.com</div>
    </div>
</div>



