<h1>Your details</h1>
<h2><b>Hi, <%= @logged_in_user.name %>! You are the #<%= @logged_in_user.id %> member using our app.</b></h2>
<div>
<% if @logged_in_user.avatar.attached? %>
    <%= image_tag @logged_in_user.avatar.variant(resize_to_limit: [80, 80]), class: "rounded-circle" %>
<% else %>
    <%= image_tag gravatar_image_url(@logged_in_user.email, size: 80), height: 80, width: 80, class: "rounded-circle" %>
<% end %>
</div>
<p><b>Email:</b> <%= @logged_in_user.email %></p>
<p><b>City:</b> <%= @logged_in_user.city %></p>
<p><b>Gender:</b> <%= @logged_in_user.gender %></p>
<p><b>Height:</b> <%= @logged_in_user.height.to_f %></p>
<p><b>Weight:</b> <%= @logged_in_user.initial_weight.to_f %></p>
<p><b>BMI:</b> <%= @bmi.to_f %></p>
<p><b>Created at:</b> <%= localize(@logged_in_user.created_at + 36000, :format => :long) %></p>


<hr>

<h1>Update My Profile</h1>
<%= form_for @logged_in_user do |f| %>
    <div class="field">
        <%= f.label :initial_weight %>
        <%= f.text_field :initial_weight %> kg
    </div>
    <div class="field">
        <%= f.label :current_weight %>
        <%= f.text_field :initial_weight %> kg
    </div>
    <div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>
