<h1>Your details</h1>
<h2><b>Hi, <%= @logged_in_user.name %> from <%= @logged_in_user.city %> ! </b></h2>
<p><b>Email:</b> <%= @logged_in_user.email %></p>
<p><b>City:</b> <%= @logged_in_user.city %></p>
<p><b>Gender:</b> <%= @logged_in_user.gender %></p>
<p><b>Created at:</b> <%= @logged_in_user.created_at %></p>



