<!DOCTYPE html>
<html>
  <head>
    <title>HealthTracking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/about">HealthTracking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item, navigation active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
  
      <li class="nav-item, navigation">
        <a class="nav-link" href="/body_measurement">Body Measurement</a>
      </li>
      <li class="nav-item, navigation">
        <a class="nav-link" href="/bmi_calculator">BMI Calculator</a>
      </li>
      <li class="nav-item, navigation">
        <a class="nav-link" href="/warriors_gallery">Warriors' Gallery</a>
      </li>
      <li class="nav-item, login">
      <a class="nav-link">
        <% if current_user %>
        Logged in as <%= current_user.email %>.
        <b><%= link_to "My Dashboard", mypage_path %></b>
        <br />
        <b><%= link_to "Settings", mysetting_path %></b>
        <br />
        <b><%= link_to "Log Out", logout_path %></b>
        <% else %>
        <b><%= link_to "Sign Up", signup_path %></b> or
        <b><%= link_to "Log In", login_path %></b>
        <% end %>
        </a>
      </li>
    </ul>
  </div>
</nav>

<!--<div class="logo">
<%= image_tag('logos/logo.jpeg', width: '300px') %>
</div>-->
    <%= yield %>
  </body>
</html>
